<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetBlogPost</servlet-name>
        <servlet-class>com.simpleblogjava.GetBlogPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Post</servlet-name>
        <servlet-class>com.simpleblogjava.Post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlog</servlet-name>
        <servlet-class>com.simpleblogjava.AddBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadComments</servlet-name>
        <servlet-class>com.simpleblogjava.LoadComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBlog</servlet-name>
        <servlet-class>com.simpleblogjava.UpdateBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>com.simpleblogjava.Delete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBlogPost</servlet-name>
        <url-pattern>/GetBlogPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Post</servlet-name>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlog</servlet-name>
        <url-pattern>/AddBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadComments</servlet-name>
        <url-pattern>/LoadComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBlog</servlet-name>
        <url-pattern>/UpdateBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/Delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
